<h2>Users</h2>

<table cellpadding="0" cellspacing="0" id="itemList" class="itemList">
	<tr>
		<th>Login</th>
		<th>Name</th>
		<th>Status</th>
		<th>&nbsp;</th>
	</tr>
	
	<% row = 1 %>

	<% for user in @users %>	
		<tr class="<%= casein_table_row_class_name row %> hover">
			<td><%= casein_table_cell_link user.login, user %></td>
			<td><%= casein_table_cell_link user.name, user %></td>
			<td><%= casein_table_cell_link(casein_get_access_level_text(user.access_level), user) %></td>
			<td class="delete">
				<% if user.is_admin? == false || CaseinUser.has_more_than_one_admin %>
					<% confirm_message = "Are you sure you want to delete #{user.name}?" %>
			
					<% if user.id == @session_user.id %>
						<% confirm_message += "\n\nWARNING: This is your user account. You will be logged out if you proceed." %>
					<% end %>
				
					<%= link_to(casein_show_row_icon("delete"), casein_user_path(user), :method => :delete, :confirm => confirm_message) %></td>
				<% end %>
			</td>
		</tr>
		<% row += 1 %>
	<% end %>
</table>

<%= will_paginate @users %>